NetMPK.WebUI/Service References/NetMPKService/System1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:complexType name="TupleOfintstringstringdoubledoubleArrayOfintuEIuwDx6">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{5}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfint" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" type="xs:double" />
      <xs:element name="m_Item5" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Item6" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintstringstringdoubledoubleArrayOfintuEIuwDx6" nillable="true" type="tns:TupleOfintstringstringdoubledoubleArrayOfintuEIuwDx6" />
  <xs:complexType name="ArrayOfTupleOfstringdoubledouble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringdoubledouble" nillable="true" type="tns:TupleOfstringdoubledouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringdoubledouble" nillable="true" type="tns:ArrayOfTupleOfstringdoubledouble" />
  <xs:complexType name="TupleOfstringdoubledouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" type="xs:double" />
      <xs:element name="m_Item3" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringdoubledouble" nillable="true" type="tns:TupleOfstringdoubledouble" />
  <xs:complexType name="ArrayOfTupleOfintstringstringstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfintstringstringstringstring" nillable="true" type="tns:TupleOfintstringstringstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfintstringstringstringstring" nillable="true" type="tns:ArrayOfTupleOfintstringstringstringstring" />
  <xs:complexType name="TupleOfintstringstringstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" nillable="true" type="xs:string" />
      <xs:element name="m_Item5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintstringstringstringstring" nillable="true" type="tns:TupleOfintstringstringstringstring" />
  <xs:complexType name="ArrayOfArrayOfTupleOfintstringstringstringstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTupleOfintstringstringstringstringint" nillable="true" type="tns:ArrayOfTupleOfintstringstringstringstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTupleOfintstringstringstringstringint" nillable="true" type="tns:ArrayOfArrayOfTupleOfintstringstringstringstringint" />
  <xs:complexType name="ArrayOfTupleOfintstringstringstringstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfintstringstringstringstringint" nillable="true" type="tns:TupleOfintstringstringstringstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfintstringstringstringstringint" nillable="true" type="tns:ArrayOfTupleOfintstringstringstringstringint" />
  <xs:complexType name="TupleOfintstringstringstringstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{5}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" nillable="true" type="xs:string" />
      <xs:element name="m_Item5" nillable="true" type="xs:string" />
      <xs:element name="m_Item6" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintstringstringstringstringint" nillable="true" type="tns:TupleOfintstringstringstringstringint" />
  <xs:complexType name="ArrayOfTupleOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringstring" nillable="true" type="tns:TupleOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringstring" nillable="true" type="tns:ArrayOfTupleOfstringstring" />
  <xs:complexType name="TupleOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringstring" nillable="true" type="tns:TupleOfstringstring" />
  <xs:complexType name="TupleOfArrayOfKeyValueOfstringVector6GU5ZqI0ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1ArrayOfTupleOfVectorVectorUpNzoWu5mhg92uSq">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="Vector" Namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
          </GenericParameter>
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="ArrayOfstring" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          </GenericParameter>
          <GenericParameter Name="ArrayOfTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="Vector" Namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
            <GenericParameter Name="Vector" Namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Item1" nillable="true" type="q2:ArrayOfKeyValueOfstringVector6GU5ZqI0" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Item2" nillable="true" type="q3:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      <xs:element name="m_Item3" nillable="true" type="tns:ArrayOfTupleOfVectorVectorUpNzoWu5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfKeyValueOfstringVector6GU5ZqI0ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1ArrayOfTupleOfVectorVectorUpNzoWu5mhg92uSq" nillable="true" type="tns:TupleOfArrayOfKeyValueOfstringVector6GU5ZqI0ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1ArrayOfTupleOfVectorVectorUpNzoWu5mhg92uSq" />
  <xs:complexType name="ArrayOfTupleOfVectorVectorUpNzoWu5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfVectorVectorUpNzoWu5" nillable="true" type="tns:TupleOfVectorVectorUpNzoWu5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfVectorVectorUpNzoWu5" nillable="true" type="tns:ArrayOfTupleOfVectorVectorUpNzoWu5" />
  <xs:complexType name="TupleOfVectorVectorUpNzoWu5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Vector" Namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
          <GenericParameter Name="Vector" Namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Windows" name="m_Item1" type="q4:Vector" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Windows" name="m_Item2" type="q5:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfVectorVectorUpNzoWu5" nillable="true" type="tns:TupleOfVectorVectorUpNzoWu5" />
</xs:schema>